        <div class="panel" id="featured-merchant">
            <h3><small>Featured Merchant of the week</small></h3>
            <div class="row">
                <div class="four columns img-thumb"><a href="#"><img src="images/merchants/Alchemist-London-thumb.gif" /></a></div>
                <div class="eight columns">
                    <ul>
                        <li><span class="span3"><a href="#">Alchemist London</a></span></li>
                        <li>Discounts: 60% off</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="four columns img-thumb"><a href="#"><img src="images/merchants/Hearts-thumb.gif" /></a></div>
                <div class="eight columns">
                    <ul>
                        <li><span class="span3"><a href="#">Hearts</a></span></li>
                        <li>Discounts: 50% off</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="four columns img-thumb"><a href="#"><img src="images/merchants/Fuzzy-Ink-thumb.gif" /></a></div>
                <div class="eight columns">
                    <ul>
                        <li><span class="span3"><a href="#">Fuzzy Ink</a></span></li>
                        <li>Discounts: 70% off</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="four columns img-thumb"><a href="#"><img src="images/merchants/Meriwether-Montana-thumb.gif" /></a></div>
                <div class="eight columns">
                    <ul>
                        <li><span class="span3"><a href="#">MeriwetherMontana</a></span></li>
                        <li>Discounts: 30% off</li>
                    </ul>
                </div>
            </div>
            <a href="#">see all</a>
        </div>