<div class="row" style="margin-bottom: 20px">
    <div class="three columns">
        <a href="#"  data-reveal-id="videoModal"><div id="how-it-works">See how BazaarCorner works</div></a>
    </div>
    <div class="two columns">
        <div><span class="span2">Stay Connected:</span></div><br />
        <div style="margin-bottom: 10px"><a href="https://www.facebook.com/BazaarCorner2012" target="_blank"><img src="images/icons/facebook.png" style="position: relative; top: 10px" /> bazaarcorner</a></div>
        <div><img src="images/icons/twitter.png" style="position: relative; top: 10px" /> #bazaarcorner</div>
    </div>
    <div class="five columns">
        <div><span class="span2">Get updates direct to your EMAIL:</span></div><br />
        <div class="row collapse" style="margin-bottom: 30px">
          <div class="seven columns">
            <input type="text" placeholder="Enter your email here..." style="font-style:italic"/>
          </div>
          <div class="three columns">
            <span class="postfix">Subscribe</span>
          </div>
            <div class="offset-by-two columns"></div>
        </div>
        <div><span class="span2">Type of Payment</span></div><br />
        <img src="images/icons/paypal.png" />
        <img src="images/icons/visa.png" />
        <img src="images/icons/mastercard.png" />
        <img src="images/icons/amex.png" />
    </div>
    <div class="two columns">
        <span class="span2">2013 BazaarCorner.com<br />All Rights Reserved</span><br /><br />
        <ul id="no-bullets">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Get Help</a></li>
            <li><a href="#">Returns and Shipping</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div>
</div>