        <div class="box-left">
            <h3 style="margin-top: 0px">Denise Santos</h3>
            <div class="row">
                <div class="six columns">
                    <span>27 years old<br />
                    Manila, Philippines
                    </span><br /><br />
                    <span style="color:#999">Contact:</span><br />
                    <span>+63987-7654321</span>
                </div>
                <div class="six columns">
                    <span class="span2"><a href="#">Send Message</a></span><br /><br />
                    <span class="span2"><a href="#">Add to Wishlist</a></span><br /><br />
                    <span class="span2"><a href="#">IM/Call</a></span>
                </div>
            </div><br />
            <div class="row">
                <div class="twelve columns">
                    <div style="margin-bottom: 6px"><span>Follow me:</span></div>
                    <img src="images/icons/facebook.png" />&nbsp;<span style="position:relative;top:-10px">denise_santos</span><br/>
                    <img src="images/icons/twitter.png" />&nbsp;<span style="position:relative;top:-10px">#denise_santos</span><br/>
                </div>
            </div>
        </div>