
        <!--<div class="orbit-container panel-shadow">
        <ul data-orbit class="orbit-slides-container " data-options="timer_speed:4000;animation_speed: 800;slide_number_class: orbitf; bullets_container_class: orbitf">
          <li><img src="images/banner/women-fashion-collection.jpg" /></li>
          <li><img src="images/banner/women-fashion-collection.jpg" /></li>
          <li><img src="images/banner/women-fashion-collection.jpg" /></li>
          <li><img src="images/banner/women-fashion-collection.jpg" /></li>
        </ul>
        </div>-->
    <div class="rslides_container panel-shadow">
      <ul class="rslides" id="slider1">
          <li><img src="<?=$host_.$theme_path?>images/banner/women-fashion-collection.jpg" /></li>
          <li><img src="<?=$host_.$theme_path?>images/banner/gadgets-collection.jpg" /></li>
          <li><img src="<?=$host_.$theme_path?>images/banner/letters-earring-banner.jpg" /></li>
          <li><img src="<?=$host_.$theme_path?>images/banner/homeware-collection.jpg" /></li>
      </ul>
    </div>