        <div class="panel">
            <h3><small>Top Brands</small></h3>
            <div class="row">
                <div class="six columns"><a href="#"><img src="<?=$host_.$theme_path?>images/brands/Boss-Logo.jpg" /></a></div>
                <div class="six columns"><a href="#"><img src="<?=$host_.$theme_path?>images/brands/LV-logo.jpg" /></a></div>
            </div>
            <div class="row">
                <div class="six columns"><a href="#"><img src="<?=$host_.$theme_path?>images/brands/Nike-Logo.jpg" /></a></div>
                <div class="six columns"><a href="#"><img src="<?=$host_.$theme_path?>images/brands/Paul_Smith Logo.jpg" /></a></div>
            </div>
            <div class="row">
                <div class="six columns"><a href="#"><img src="<?=$host_.$theme_path?>images/brands/Prada.jpg" /></a></div>
                <div class="six columns"><a href="#"><img src="<?=$host_.$theme_path?>images/brands/Ray-Ban-Logo.jpg" /></a></div>
            </div>
            <div class="row">
                <div class="six columns"><a href="#"><img src="<?=$host_.$theme_path?>images/brands/chanel-logo1.jpg" /></a></div>
                <div class="six columns">&nbsp;</div>
            </div><br />
            <a href="#">see all</a>
        </div>