
<div class="row" style="margin-top: 10px;">
    <div class="three columns" style="margin-top: 10px;">
        <a href="#"><img src="<?=$host_.$theme_path?>images/modules/inside-bazaar.png" /></a>
    </div>
    <div class="six columns">
        <div class="row">
            <div class="eight columns centered">
                <a href="<?=$host_?>"><img src="<?=$host_.$theme_path?>images/bazaar-corner-logo.png" /></a><br />
                <em><span style="position: relative; left:10px">Your #1 Social E-Commerce. Revolutionize the way you shop!</span></em>
            </div>
        </div>
    </div>
    <div class="three columns">
        <div class="row" style="margin-top: 15px">
            <div class="offset-by-six six columns">
                <a href="<?=$host_?>/index.php?do=/user/login/" style="text-decoration: underline;">SIGN IN</a>
                / <a href="<?=$host_?>/index.php?do=/user/login/" style="text-decoration: underline;">JOIN US</a>
            </div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="six columns">
                <div class="twelve columns centered">
                    <img src="<?=$host_.$theme_path?>images/icons/wishlist-icon.png" />&nbsp;<a href="#">MY WISHLIST</a>
                </div>
            </div>
            <div class="six columns">
                <div class="twelve columns centered">
                <img src="<?=$host_.$theme_path?>images/icons/cart-icon.png" />&nbsp;<a href="#" style="position: relative; top: -3px">MY CART</a>
                </div>
            </div>
        </div>
    </div>
</div>
