        <ul id="category">
            <a href="#" style="text-decoration:none;"><li>FASHION</li></a>
            <a href="#" style="text-decoration:none;"><li>HOMEWARES</li></a>
            <a href="#" style="text-decoration:none;"><li>ART AND MEDIA</li></a>
            <a href="#" style="text-decoration:none;"><li>DIY</li></a>
            <a href="#" style="text-decoration:none;"><li>GADGETS</li></a>
            <a href="#" style="text-decoration:none;"><li>TRAVEL AND TOURS</li></a>
        </ul>