<div class="row">
    <div class="twelve columns">
    <img src="<?=$host_.$theme_path?>images/modules/most-bought.png" />
    <div id="ca-container" class="ca-container">
                <div class="ca-wrapper">
                        <div class="ca-item">
                                <div class="ca-item-main">
                                    <img src="<?=$host_.$theme_path?>images/items/Alcott-Poplin-Short-Sleeve-Check-Shirt_1.jpg" />
                                </div>
                                <div class="ca-item-desc">
                                 <span class="span2">Alcott Poplin Short Sleeve Check Shirt</span><br />
                                 <span class="span3">Sold: 8</span><br />
                                 <span class="span1">$40 </span>&nbsp;&nbsp;<span class="span4 line-through">$55 tag price</span>
                                </div>
                        </div>
                        <div class="ca-item">
                                <div class="ca-item-main">
                                    <img src="<?=$host_.$theme_path?>images/items/Converse-Skater-Backpack_1.jpg" />
                                </div>
                                <div class="ca-item-desc">
                                 <span class="span2">Converse Skater Backpack</span><br />
                                 <span class="span3">Sold: 12</span><br />
                                 <span class="span1">$48 </span>&nbsp;&nbsp;<span class="span4 line-through">$60 tag price</span>
                                </div>
                        </div>
                        <div class="ca-item">
                                <div class="ca-item-main">
                                    <img src="<?=$host_.$theme_path?>images/items/David-Beckham_1.jpg" />
                                </div>
                                <div class="ca-item-desc">
                                 <span class="span2">Alcott Poplin Short Sleeve Check Shirt</span><br />
                                 <span class="span3">Sold: 18</span><br />
                                 <span class="span1">$40 </span>&nbsp;&nbsp;<span class="span4 line-through">$50 tag price</span>
                                </div>
                        </div>
                        <div class="ca-item">
                                <div class="ca-item-main">
                                    <img src="<?=$host_.$theme_path?>images/items/Intelligent-Nutrients_1.jpg" />
                                </div>
                                <div class="ca-item-desc">
                                 <span class="span2">Intelligent Nutrients</span><br />
                                 <span class="span3">Sold: 23</span><br />
                                 <span class="span1">$40 </span>&nbsp;&nbsp;<span class="span4 line-through">$50 tag price</span>
                                </div>
                        </div>
                </div>
    </div>
    </div>
</div><br /><br />
    