/*! style.css v2.1.0 | MIT License | git.io/normalize */

/* ==========================================================================
   MENU DECORATIONS AND OTHER ORDERED LIST
   ========================================================================== */

/*MENU CATEGORY*/
ul#category { list-style-type: none}
ul#category li{ font-size: 1.25em;border-left: #cccccc 1px solid; padding-top: 9px;padding-left: 10px;height:47px; margin-bottom: 3px}
ul#category a li:hover  { color: #fff }
ul#category a li:hover { background-color:#e9013b; background-image: -moz-linear-gradient(180deg, #e9013b, #ba002f 22px); background-image: -webkit-linear-gradient(270deg, #e9013b, #ba002f 22px); background-image: -o-linear-gradient(180deg, #e9013b, #ba002f 22px); background-image: -ms-linear-gradient(180deg, #e9013b, #ba002f 22px); background-image: linear-gradient(180deg, #e9013b, #ba002f 22px)}

#featured-merchant { padding-left: 15px; padding-top: 8px}
#featured-merchant .img-thumb { margin-top: 7px }
#featured-merchant .row { margin-bottom: 2px }
#featured-merchant ul { list-style-type: none;line-height: 1em }
#featured-merchant ul li span { line-height: 1.75em }
#featured-merchant ul li { color: #666666 }

ul#no-bullets  {list-style-type: none;}


/*SPRITE IMAGES START*/
#how-it-works           { background: url(../images/modules/what-is-bazaar-corner.png) no-repeat 0 0; display: block; width: 220px; height:190px;text-indent: -9999px;  }
#how-it-works:hover     { background-position: 0 -190px; cursor: pointer }
/*SPRITE IMAGES END*/

#recently-slider .img-shadow,#half-the-tag-slide .img-shadow{ -webkit-box-shadow:2px 2px 3px 1px #cccccc; -moz-box-shadow:2px 2px 3px 1px #cccccc; -o-box-shadow:2px 2px 3px 1px #cccccc; -ms-box-shadow:2px 2px 3px 1px #cccccc; box-shadow:2px 2px 3px 1px #cccccc;}

/*IMAGE SCROLL BIG START*/
div.recently-big            { height: 235px;border-bottom: 0 none;overflow: hidden;position: relative;vertical-align: top}
span.ItemImage              { display: block;overflow: hidden}

div.recently-big div.ItemAction              
                            { bottom: 0px;height: 62px;margin: 0 auto;position: absolute;
                                transition: all 0.2s ease-in-out 0s;width: 100%}
div.recently-big 
div.ItemAction .wrap        { background: none repeat scroll 0 0 #000000;height: 100%;opacity: 0.6;padding: 10px;
                                position: absolute; top:-3px;width: 313px}
div.recently-big 
div.ItemAction .wrap-desc   { line-height: 25px;padding: 3px 10px}
div.recently-big 
div.ItemAction span         {color: #FFFFFF !important;position: relative}
div.recently-big:hover div.ItemAction       { display: none}

div.recently-big div.ItemAction2            {display:none}
div.recently-big 
div.ItemAction2 
.wrap-big                   { width:100%;height:297px;background: none repeat scroll 0 0 #000000;color:#fff;
                                opacity: 0.8;position: relative;padding: 10px} 
div.recently-big:hover 
div.ItemAction2             { position: absolute; display: block;bottom: 3px;height: 235px;
                                transition: all 0.2s ease-in-out 0s;width: 100%}
div.recently-big 
div.ItemAction2 
.wrap-big-desc              { top: 0;padding: 10px 10px;position: absolute; display: block;
                                color: #FFFFFF !important}
/*IMAGE SCROLL BIG END*/

/*IMAGE SCROLL SMALL START*/
div.recently-small          { height: 109px;border-bottom: 0 none;overflow: hidden;position: relative;vertical-align: top}
span.ItemImage              { display: block;overflow: hidden}

div.recently-small 
div.ItemAction              { bottom: 0px;height: 42px;margin: 0 auto;position: absolute;
                                transition: all 0.2s ease-in-out 0s;width: 100%}
div.recently-small 
div.ItemAction .wrap        { background: none repeat scroll 0 0 #000000;height: 100%;opacity: 0.6;padding: 10px;
                                position: absolute; width: 156px}
div.recently-small 
div.ItemAction .wrap-desc   { padding: 5px 8px}
div.recently-small 
div.ItemAction span      {color: #FFFFFF !important;position: relative}
div.recently-small:hover div.ItemAction       { display: none}

div.recently-small 
div.ItemAction2             {display:none}
.wrap-big                   { width:156px;height:109px;background: none repeat scroll 0 0 #000000;color:#fff;
                                opacity: 0.8;position: relative;padding: 10px}
div.recently-small:hover 
div.ItemAction2             { position: absolute; display: block;bottom: 3px;height: 109px;
                                transition: all 0.2s ease-in-out 0s;width: 100%}
div.recently-small 
div.ItemAction2 
.wrap-big-desc              { width:156px;top: 0;padding: 10px 10px;position: absolute; display: block;
                                color: #FFFFFF !important}
/*IMAGE SCROLL SMALL END*/



/*IMAGE SCROLL MEDIUM START*/
div.recently-medium         { height: 145px; border-bottom: 0 none;overflow: hidden;position: relative;vertical-align: top}
span.ItemImage              { display: block;overflow: hidden}

div.recently-medium:hover div.ItemAction       { display: none}

div.recently-medium 
div.ItemAction2             {display:none}
.wrap-big                   { width:196px;height:145px;background: none repeat scroll 0 0 #000000;color:#fff;
                                opacity: 0.8;position: relative;padding: 10px}
div.recently-medium:hover 
div.ItemAction2             { position: absolute; display: block;bottom: 0px;height: 145px;
                                transition: all 0.2s ease-in-out 0s;width: 100%}
div.recently-medium 
div.ItemAction2 
.wrap-big-desc              { width:196px;top: 0;padding: 10px 10px;position: absolute; display: block;
                                color: #FFFFFF !important}
.recently-medium .wrap-big-desc .medium-price { text-align:right; position: relative; top: -10px;padding-right: 10px }
.recently-medium .medium-social {margin-top: 15px;margin-bottom: 15px;}
/*IMAGE SCROLL MEDIUM END*/

/*HALF THE TAG START*/
#half-the-tag-banner { height: 40px;
background-color:#ca0033; background-image: -moz-linear-gradient(180deg, #ca0033, #9e0028 26px); 
background-image: -webkit-linear-gradient(270deg, #ca0033, #9e0028 26px);
background-image: -o-linear-gradient(180deg, #ca0033, #9e0028 26px); 
background-image: -ms-linear-gradient(180deg, #ca0033, #9e0028 26px); 
background-image: linear-gradient(180deg, #ca0033, #9e0028 26px)
}

.box-grid { background-color: #fff; padding: 10px 10px }
.box-grid:hover { background-color: #e9e8e8; }
.box-grid-desc { background-color: #fff; }
.box-grid-desc2 { height: 100px;padding: 5px}
/*HALF THE TAG END*/


/*MENU START*/
ul#menu {
margin: 0;
/*padding: 0.3em 0em;*/
}

ul#menu li {
list-style-type:none;
position: relative;
}

ul#menu h2, ul#menu h3 {
font-size: 100%;
font-weight: normal;
/*display: inline;*/
}


ul#menu li a {
text-decoration: none;
}

ul#menu li a:hover {
}

ul#menu li.mega a {
/*background: url(..images/icons/arrow-down.png) right no-repeat; width: 11px; height: 7px;*/
}

ul#menu #menu-container {
display: none;
}

ul#menu li.mega #menu-container {
width: 617px;
height: 314px;
position: absolute;
left: 0em;
background: #fafafa;
z-index: 4;
-webkit-box-shadow:1px 1px 6px 1px #333333; -moz-box-shadow:1px 1px 6px 1px #333333; -o-box-shadow:1px 1px 6px 1px #333333; -ms-box-shadow:1px 1px 6px 1px #333333; box-shadow:1px 1px 6px 1px #333333;
background-color:#ffffff; background-image: -moz-linear-gradient(180deg, #ffffff, #F5F5F5 600px); background-image: -webkit-linear-gradient(180deg, #ffffff, #F5F5F5 600px); background-image: -o-linear-gradient(180deg, #ffffff, #F5F5F5 600px); background-image: -ms-linear-gradient(180deg, #ffffff, #F5F5F5 600px); background-image: linear-gradient(180deg, #ffffff, #F5F5F5 600px)
}

ul#menu li.hovering #menu-container {
display: block;
}

#menu-container ul.menu-category { list-style-type:none;}
#menu-container ul.menu-category li a{
    font-size: 16px;
    line-height: 50px;
}
#menu-container ul.menu-other li    { line-height: 15px }
#menu-container ul.menu-other li a{ text-decoration: underline }

#how-it-works-menu           { background: url(../images/modules/what-is-bazaar-corner-menu.png) no-repeat 0 0; display: block; width: 139px; height:120px;text-indent: -9999px;  }
#how-it-works-menu:hover     { background-position: 0 -120px; cursor: pointer }
/*MENU END*/


/*MOST BOUGHT SLIDER START*/
/* Circular Content Carousel Style */
.ca-container{
	position:relative;
        margin: 0px 27px;
	width:245px;
	height:340px;
}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
}
.ca-item{
	position:relative;
	float:left;
	width:245px;
	height:100%;
	text-align:center;
}
.ca-close:hover{
	opacity:1.0;
}
.ca-item-main{
	padding:10px;
	position:relative;
        height: 247px;
	overflow:hidden;
}
.ca-item-desc{ margin:6px; display: block}
.ca-item h4 span{
	text-indent:40px;
	display:block;
}
.ca-item h4  span.ca-quote{
	color:#f4eee3;
	position:absolute;
	top:20px;
	left:0px;
	text-indent:0px;
}
.ca-content-wrapper{
	background:#b0ccc6;
	position:absolute;
	width:0px; 
	height:440px;
	top:5px;
	text-align:left;
	z-index:1;
	overflow:hidden;
}
.ca-content{
	width:245px;
	overflow:hidden;
}
.ca-content-text{
	font-size: 14px;
	font-style: italic;
	font-family: "Georgia","Times New Roman",serif;
	margin:10px 20px;
	padding:10px 20px;
	line-height:24px;
}
.ca-content-text p{
	padding-bottom:5px;
}
.ca-content h6{
	margin:25px 20px 0px 35px;
	font-size:32px;
	padding-bottom:5px;
	color:#000;
	font-family: 'Coustard', sans-serif;
	color:#60817a;
	border-bottom:2px solid #99bcb4;
	text-shadow: 1px 1px 1px #99BCB4;
}
.ca-content ul{
	margin:20px 35px;
	height:30px;
}
.ca-content ul li{
	float:left;
	margin:0px 2px;
}
.ca-content ul li a{
	color:#fff;
	background:#000;
	padding:3px 6px;
	font-size:14px;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
}
.ca-content ul li a:hover{
	background:#fff;
	color:#000;
	text-shadow:none;
}
.ca-nav span{
	width:25px;
	height:38px;
	background:transparent url(../images/icons/arrows.png) no-repeat top left;
	position:absolute;
	top:50%;
	margin-top:-19px;
	left:-27px;
	text-indent:-9000px;
	opacity:0.3;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:-27px;
}
.ca-nav span:hover{
	opacity:1.0;
}
/*MOST BOUGHT SLIDER END*/


/*BANNER LIGHTWEIGHT START*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  
.rslides {
  margin: 0 auto;
  }

.rslides_container {
  position: relative;
  width: 100%;
  }

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.5;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../images/icons/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.transparent-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 0;
  left: 0;
  display: block;
  background: #fff;
  opacity: 0;
  filter: alpha(opacity=1);
  width: 48%;
  text-indent: -9999px;
  overflow: hidden;
  height: 91%;
  }

.transparent-btns_nav.next {
  left: auto;
  right: 0;
  }

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.5;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("../images/icons/themes.gif") no-repeat left 50%;
  width: 38px;
  }

.large-btns_nav:active {
  opacity: 1.0;
  }

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
  }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
display: none
  }
/*BANNER LIGHTWEIGHT END*/

ul a li {
	text-decoration:none;
}
